@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');
body {
    top: 0;
    left: 0;
    background-color: rgba(10, 207, 233, 0.659);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    height: 720px;
    width: 1320px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 8.2%;
    top: 40px;
    border-radius: 25px;
    box-shadow: 1px 5px 10px 5px rgba(0,0,0,0.2);
}
.log{
    background-image: url("./img/login.png");
    background-repeat: no-repeat;
    height: 425px;
    width: 586px;
    position: relative;
    bottom: 550px;
    right: 50px;
}
.logo{
    height:50px;
    width: 50px;
    background-image: url("./img/crystal_delta_logo.jpg");
    background-size: cover;
    position: relative;
    left: 10px;
    top: 10px;
}
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  min-width: 160px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: inline-block;
}
.cart{
    height: 30px;
    width: 30px;
    position: relative;
    left: 1100px;
    bottom: 30px;
    cursor: pointer;
}
.count{
    border: 0.5px solid rgb(240, 151, 9);
    color: rgb(252, 170, 18);
    border-radius: 100%;
    padding: 3px 7px;
    height: 0.5px;
    font-size: 9px;
    font-weight: 800;
    position: relative;
    left: 1130px;
    bottom: 65px;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  border: 1px solid black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: 65px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.dropdown-content.show {display:block;}
.dropbtn1 {
    background-color: transparent;
    color: black;
    padding: 12px;
    font-size: 16px;
    min-width: 160px;
    text-align: left;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: inline;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn1:hover, .dropbtn1:focus {
    border: 1px solid black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  .searchbar{
    border: 1px solid rgb(21, 118, 246);
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 250px;
    font-size: 30px;
  }
  .searchbar a{
    font-size: 12px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 60px;
    margin-bottom: 4px;
  }
  #sbar{
    border: none;
    min-width: 280px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    margin-left: 57px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content1 a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .dropdown-content1.show {display:block;}
.brandk{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 70px;
    bottom: 25px;
}
h3,h6,.btn{
    position: relative;
    left: 80px;
    bottom: 30px;
}
h3,.btn{
    bottom: 40px;
}
button{
    cursor: pointer;
}
.btn{
    border: none;
    background-color: rgb(255, 136, 0);
    color: white;
    height: 30px;
    border-radius: 5px;
    margin: 0px 8px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 65%;
    margin-right: 10%;
    position: relative;
    bottom: 60px;
}
.nav{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.818);
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    box-shadow: none;
}
.nav.curr{
    border-bottom: 3px solid rgb(0, 140, 255);
}
.login{
    height: 500px;
    width: 450px;
    margin-left: 58%;
    margin-top: 2%;
    border-radius: 20px;
}
.cart.show
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}


section {
    padding: 20px;
}
.featured{
    position: relative;
    bottom: 50px;
    left: 20px;
}
.popular-brands{
    position: relative;
    bottom: 100px;
    left: 20px;
}
.product-carousel, .brand-carousel {
    display: flex;
    justify-content: center;
    width: 50%;
    height: max-content(200px);
    position: relative;
    left: 20px;
}
.brand-carousel{
    width: 30%;
}
.product img{
    height: 150px;
}
.brand img{
    height: 100px;
}
h5{
    font-size: 11px;
    position: relative;
    bottom: 8px;
}
.price{
    position: relative;
    bottom: 13px;
    right: 40px;
}
.rate{
    position: relative;
    bottom: 40px;
    left: 50px;
}
.price,.rate{
    font-size: 12px;
    font-weight: 600;
}
.rate img{
    height: 10px;
    max-width: 10px;
}
.offer{
    color: rgb(255, 136, 0);
    font-size: 10px;
}
.product {
    display: inline-block;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 15px;
    width: 15%;
    height: 250px;
    text-align: center;
    vertical-align: center;
}
.row{
    margin-left: 60px;
}

.btncrt,.buy{
    color: rgb(255, 106, 0);
    background-color: white;
    border: 1px solid rgb(255, 106, 0);
    border-radius: 5px;
    position: relative;
    bottom: 40px;
    font-size: 10px;
    margin-right: 5px;
    padding: 8px;
}
.featured{
    position: relative;
    top: 5px;
    height: 1500px;
    max-width: 1150px;
    overflow-y: scroll;
    max-height: 500px;
}
.buy{
    background-color: rgb(255, 136, 0);
    color: white;
    margin-left: 15px;
    margin-right: 0px;
}

.product{
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.808);
}

.product img {
    width: 100%;
    margin: 0px;
}
.sideimg{
    height: 500px;
    width:400px;
    background-image: url("./img/landingAccessories.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    justify-content: center;
    position: absolute;
    margin-left: 792px;
    bottom: 170px;
}
.container{
    overflow: hidden;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}
.brand{
    background-color: transparent;
}
.brand-carousel{
    width: 100%;
}
.mycart{
    /*display: none;*/
    height: 550px;
    width:1000px;
    z-index: 2;
    background-color: white;
    position: relative;
    bottom: 560px;
    left: 250px;
    box-shadow: 5px 5px 100px 5px black;
}
.mycart.show{
    display: block;
}
.close {
    font-size: 45px;
    font-weight: 600;
}
